<div class="row">
    <div class="col-10 offset-1">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th *ngFor="let col of getObjectKeys()">
                        {{ col.title }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list | async">
                    <td *ngFor="let col of getObjectKeys()">
                        {{ item[col.key] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>